@import url(./utilities.css);

footer{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
}

footer > p{
    cursor: pointer;
}

footer > p:hover{
    color: var(--text-color-shadow);
}

@media screen and (max-width: 780px){
    footer{
        width: 95vw;
        padding: 2em 1em;
    }
}