<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../../images/logo.png">
    <link rel="stylesheet" href="../../../css/utilities.css">
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/section.css">
    <link rel="stylesheet" href="../../../css/nav.css">
    <link rel="stylesheet" href="../../../css/footer.css">
    <link rel="stylesheet" href="../../../css/component.css">
    <link rel="stylesheet" href="./../Avatar/avatar.css">
    <link rel="stylesheet" href="./badge.css">
    <title>Badge</title>
</head>
<body>
    <div class="container">
        <!-- common header  ---------------------------------------------->
        <header>
            <div class="brand">
                <a href="../../../index.html"><img src="../../../images/logo.png" alt="logo"></a>
                <a href="../../../index.html"><h1 class="brand-text">PUNK UI</h1></a>
            </div>
        </header>

        <!-- mid wrapper  -->
        <div class="section">
            <div class="nav">
                <h1 class="nav-heading">Getting Started</h1>
                <a href="../../usage.html"><p>Usage</p></a>
                <h1 class="nav-heading">Components</h1>
                <a href="../Avatar/avatar.html"><p>Avatar</p></a>
                <a href="../Alert/alert.html"><p>Alert</p></a>
                <a style="color: #787A91;" href="../Badge/badge.html"><p style="background-color: #141e61;">Badge</p></a>
                <a href="../Button/Button.html"><p>Button</p></a>
                <a href="../Card/card.html"><p>Card</p></a>
                <a href="../Image/image.html"><p>Image</p></a>
                <a href="../Input/input.html"><p>Input</p></a>
                <!-- <a href="../List/list.html"><p>List</p></a>
                <a href="../Navigation/navigation.html"><p>Navigation</p></a> -->
                <a href="../Toast/toast.html"><p>Toast</p></a>
            </div>

            <!-- differing part  -------------------------------------------------------->
            <main>
                <div class="component">
                    <h1>Badge</h1>
                    <p>Indicate the count of notification on elements.</p>

                    <!-- badge  -------------------------------------------------->
                    <h2>Avatars with Badge</h2>
                    <section>
                        <figure class="avatar avatar-xl badge">
                            <img src="../../../images/avatar.png" alt="badge">
                            <div class="badge-count">1</div>
                        </figure>
                        <figure class="avatar avatar-lg badge">
                            <img src="../../../images/avatar.png" alt="badge">
                            <div class="badge-count">1</div>
                        </figure>
                        <figure class="avatar avatar-std badge">
                            <img src="../../../images/avatar.png" alt="badge">
                            <div class="badge-count">1</div>
                        </figure>
                    </section>

                    <iframe 
                        src="https://www.thiscodeworks.com/embed/6289ad72e32f2d001518d1a4" 
                        style="width: 100%; height: 242px;" 
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <h2>Icons with Badge</h2>
                    <!-- badge with icons  -->
                    <section>
                        <figure class="icon badge">
                                <img src="../../../images/shopping-cart.png" alt="cart">
                                <div class="badge-count">1</div>
                        </figure> 
                        <figure class="icon badge">
                                <img src="../../../images/email.png" alt="email">
                                <div class="badge-count">1</div>
                        </figure> 
                    </section>

                    <iframe 
                        src="https://www.thiscodeworks.com/embed/6289ae37e32f2d001518d1a5" 
                        style="width: 100%; height: 190px;" 
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>
                </div>
                <footer>
                    <a href="../Avatar/avatar.html"><p>&lt; Avatar</p></a>
                    <a href="../Button/Button.html"><p>Button &gt;</p></a>
                </footer>
            </main>
        </div>
    </div>
</body>
</html>