<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../../images/logo.png">
    <link rel="stylesheet" href="../../../css/utilities.css">
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/section.css">
    <link rel="stylesheet" href="../../../css/footer.css">
    <link rel="stylesheet" href="../../../css/component.css">
    <link rel="stylesheet" href="../../../css/nav.css">
    <link rel="stylesheet" href="./alert.css">
    <title>Alert</title>
</head>
<body>
    <div class="container">
        <!-- common header  ---------------------------------------------->
        <header>
            <div class="brand">
                <a href="../../../index.html"><img src="../../../images/logo.png" alt="logo"></a>
                <a href="../../../index.html"><h1 class="brand-text">PUNK UI</h1></a>
            </div>
        </header>

        <!-- mid wrapper  -->
        <div class="section">
            <div class="nav">
                <h1 class="nav-heading">Getting Started</h1>
                <a href="../../usage.html"><p>Usage</p></a>
                <h1 class="nav-heading">Components</h1>
                <a href="../Avatar/avatar.html"><p>Avatar</p></a>
                <a style="color: #787A91;" href="../Alert/alert.html"><p style="background-color: #141e61;">Alert</p></a>
                <a href="../Badge/badge.html"><p>Badge</p></a>
                <a href="../Button/Button.html"><p>Button</p></a>
                <a href="../Card/card.html"><p>Card</p></a>
                <a href="../Image/image.html"><p>Image</p></a>
                <a href="../Input/input.html"><p>Input</p></a>
                <a href="../List/list.html"><p>List</p></a>
                <a href="../Navigation/navigation.html"><p>Navigation</p></a>
                <a href="../Toast/toast.html"><p>Toast</p></a>
            </div>

            <!-- differing part  -------------------------------------------------------->
            <main>
                <div class="component">
                    <h1>Alert</h1>
                    <p>To display a message after user interacts with any element.</p>
                    <h2>Simple Alert</h2>
                    <section>
                        <div class="alert alert-success">A simple success alert</div>
                        <div class="alert alert-danger">A simple danger alert</div>
                        <div class="alert alert-warning">A simple warning alert</div>
                        <div class="alert alert-info">A simple info alert</div>
                    </section>
                    <p>The alert component has four variants <span class="highlight">alert-success</span>, <span class="highlight">alert-danger</span>, <span class="highlight">alert-warning</span> and <span class="highlight">alert-info</span>.</p>
                    <iframe 
                        src="https://www.thiscodeworks.com/embed/6289aaabe32f2d001518d1a3" 
                        style="width: 100%; height: 138px;" 
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>
                </div>
                <footer>
                    <a href="../Avatar/avatar.html"><p>&lt; Avatar</p></a>
                    <a href="../Badge/badge.html"><p>Badge &gt;</p></a>
                </footer>
            </main>
        </div>
    </div>
</body>
</html>