<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../../images/logo.png">
    <link rel="stylesheet" href="../../../css/utilities.css">
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/section.css">
    <link rel="stylesheet" href="../../../css/nav.css">
    <link rel="stylesheet" href="../../../css/footer.css">
    <link rel="stylesheet" href="../../../css/component.css">
    <link rel="stylesheet" href="./input.css">
    <title>Input</title>
</head>
<body>
    <div class="container">
        <!-- common header  ---------------------------------------------->
        <header>
            <div class="brand">
                <a href="../../../index.html"><img src="../../../images/logo.png" alt="logo"></a>
                <a href="../../../index.html"><h1 class="brand-text">PUNK UI</h1></a>
            </div>
        </header>

        <!-- mid wrapper  -->
        <div class="section">
            <div class="nav">
                <h1 class="nav-heading">Getting Started</h1>
                <a href="../../usage.html"><p>Usage</p></a>
                <h1 class="nav-heading">Components</h1>
                <a href="../Avatar/avatar.html"><p>Avatar</p></a>
                <a href="../Alert/alert.html"><p>Alert</p></a>
                <a href="../Badge/badge.html"><p>Badge</p></a>
                <a href="../Button/Button.html"><p>Button</p></a>
                <a href="../Card/card.html"><p>Card</p></a>
                <a href="../Image/image.html"><p>Image</p></a>
                <a style="color: #787A91;" href="../Input/input.html"><p style="background-color: #141e61;">Input</p></a>
                <!-- <a href="../List/list.html"><p>List</p></a>
                <a href="../Navigation/navigation.html"><p>Navigation</p></a> -->
                <a href="../Toast/toast.html"><p>Toast</p></a>
            </div>

            <!-- differing part  -------------------------------------------------------->
            <main>
                <div class="component">
                    <h1>Input</h1>
                    <p>Take input from user.</p>

                    <!-- input  ---------------------------------------------------->
                    <h2>Standard Input</h2>
                    <section>
                        <div class="input">
                            <input type="text">
                            <div>Label</div>
                        </div>
                    </section>

                    <iframe 
                        src="https://www.thiscodeworks.com/embed/628ae0fe0b60ca0015a882a5" 
                        style="width: 100%; height: 164px;" 
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <!-- input validation  -->
                    <h2>Validation</h2>
                    <p>There are 3 types of input validation available apart from the default one <span class="highlight">error</span>, <span class="highlight">warn</span> and <span class="highlight">success</span>.</p>
                    <section>
                        <div class="input">
                            <input class="error" type="text">
                            <div class="error">Label</div>
                        </div>
                    </section>
                    <section>
                        <div class="input">
                            <input class="warn" type="text">
                            <div class="warn">Label</div>
                        </div>
                    </section>
                    <section>
                        <div class="input">
                            <input class="success" type="text">
                            <div class="success">Label</div>
                        </div>
                    </section>

                    <iframe 
                        src="https://www.thiscodeworks.com/embed/628ae2220b60ca0015a882a6" 
                        style="width: 100%; height: 268px;" 
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                </div>
                <footer>
                    <a href="../Image/image.html"><p>&lt; Image</p></a>
                    <a href="../Toast/toast.html"><p>Toast &gt;</p></a>
                </footer>
            </main>
        </div>
    </div>
</body>
</html>