/* card ------------------------------------------------------------------ */
.card{
    width: 30em;
    height: 20em;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(197, 197, 197);
    cursor: pointer;
}
.card-hz{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 1em;
}
.card-hz > img{
    size: cover;
    width: 30em;
    padding-right: 1em;
    border-radius: 5px;
    max-width: 100%;
}
.card-heading{
    font-size: 1.5em;
    color: #fff;
}
.card-text > a{
    text-decoration: none;
}
.card-sub-heading{
    font-size: 1em;
    color: rgb(122, 122, 122);
}
.card-para{
    margin-top: 2em;
    margin-bottom: 2em;
}
.price{
    font-size: 2em;
}
.price-original{
    color: rgb(122, 122, 122);
    text-decoration: line-through;
}
.card:hover{
    box-shadow: 2px 2px 15px rgb(197, 197, 197);
}

@media screen and (max-width: 780px){
    .card-heading{
        font-size: 1em;
    }
    .card-sub-heading{
        font-size: 0.7em;
    }
    .card-para{
        font-size: 0.5em;
    }
}