<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../../images/logo.png">
    <link rel="stylesheet" href="../../../css/utilities.css">
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/section.css">
    <link rel="stylesheet" href="../../../css/nav.css">
    <link rel="stylesheet" href="../../../css/footer.css">
    <link rel="stylesheet" href="../../../css/component.css">
    <link rel="stylesheet" href="./button.css">
    <title>Button</title>
</head>
<body>
    <div class="container">
        <!-- common header  ---------------------------------------------->
        <header>
            <div class="brand">
                <a href="../../../index.html"><img src="../../../images/logo.png" alt="logo"></a>
                <a href="../../../index.html"><h1 class="brand-text">PUNK UI</h1></a>
            </div>
        </header>

        <!-- mid wrapper  -->
        <div class="section">
            <div class="nav">
                <h1 class="nav-heading">Getting Started</h1>
                <a href="../../usage.html"><p>Usage</p></a>
                <h1 class="nav-heading">Components</h1>
                <a href="../Avatar/avatar.html"><p>Avatar</p></a>
                <a href="../Alert/alert.html"><p>Alert</p></a>
                <a href="../Badge/badge.html"><p>Badge</p></a>
                <a style="color: #787A91;" href="../Button/Button.html"><p style="background-color: #141e61;">Button</p></a>
                <a href="../Card/card.html"><p>Card</p></a>
                <a href="../Image/image.html"><p>Image</p></a>
                <a href="../Input/input.html"><p>Input</p></a>
                <!-- <a href="../List/list.html"><p>List</p></a>
                <a href="../Navigation/navigation.html"><p>Navigation</p></a> -->
                <a href="../Toast/toast.html"><p>Toast</p></a>
            </div>

            <!-- differing part  -------------------------------------------------------->
            <main>
                <div class="component">
                    <h1>Button</h1>

                    <!-- solid button  ------------------------------------------------>
                    <h2>Solid Button</h2>
                    <section>
                        <button class="btn btn-primary">Primary</button>
                        <button class="btn btn-secondary">Secondary</button>
                        <button class="btn btn-danger">Danger</button>
                    </section>
                    <p>The solid button component is available in three variants btn-primary, btn-secondary and btn-danger.</p>
                    <iframe 
                        src="https://www.thiscodeworks.com/embed/6289b2e0e32f2d001518d1a7" 
                        style="width: 100%; height: 125px;" 
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <!-- outline button  -->
                    <h2>Outline Button</h2>
                    <section>
                        <button class="btn btn-outline-primary">Primary</button>
                        <button class="btn btn-outline-secondary">Secondary</button>
                        <button class="btn btn-outline-danger">Danger</button>
                    </section>
                    <p>The button component is available in three variants btn-outline-primary, btn-outline-secondary and btn-outline-danger.</p>
                    <iframe 
                        src="https://www.thiscodeworks.com/embed/6289b35fe32f2d001518d1a8" 
                        style="width: 100%; height: 125px;" 
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <!-- icon buttons  -->
                    <h2>Icon Button</h2>
                    <section>
                        <button class="btn btn-icon btn-primary">
                            <img src="../../../images/shopping-cart.png" alt="cart">
                            <span>Add to Cart</span>
                        </button>
                        <button class="btn btn-icon btn-danger">
                            <img src="../../../images/bin.png" alt="bin">
                            <span>Delete</span>
                        </button>
                    </section>
                    <p>Add the btn-icon class to the button element and a img tag with the link to the icon.</p>
                    <iframe 
                        src="https://www.thiscodeworks.com/embed/6289b41ae32f2d001518d1a9" 
                        style="width: 100%; height: 190px;" 
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                </div>
                <footer>
                    <a href="../Badge/badge.html"><p>&lt; Badge</p></a>
                    <a href="../Card/card.html"><p>Card &gt;</p></a>
                </footer>
            </main>
        </div>
    </div>
</body>
</html>